.fw {
    font-weight: bold; /* ou font-weight: 700; */
}
img {
    position: relative;
    top: -180px;   /* Déplace l'image 20px vers le bas (loin du haut) */
    left: 180px;  /* Déplace l'image 50px vers la droite (loin de la gauche) */
}
.margin{
    margin:auto
}

.lien-interactif {
    color: black; 
    background-color: transparent;
    text-decoration: none; 
    border: 1px solid grey;
    transition: all 0.3s ease; 
}


.lien-interactif:hover {
    color: white; 
    background-color: #007bff; 
    border-color: #0056b3; 
    cursor: pointer; 
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}
.main{
    background-color: gray;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black; padding: 5px;
}
.boite-avec-bordure {
    border: 2px solid black; 
    padding: 10px; 
}
.carte-standard {
    width: 85mm; 

    height: 55mm; 

    background-color: grey; 
    border: 1px solid #333; 
    box-sizing: border-box; 
    padding: 5mm; 
    font-size: 20px; 
}
h1{
    font-size: 1.2rem;
}
h2{
    font-size: 0.9rem;
}
.ul{
    font-size: 0.8rem;
}

